.legend{
    width: 600px;
}

.colorIcon{
  float:left;
  width:   20px;
  height: 20px;
  line-color: black;
  border-width: 2px;
    border-style: solid;  
    margin-right: 5px;
}

.colorItem{
    float:left;
    font-size: small;
    padding: 3px;
    border-style:none;
}

.cyClass{
    display: inline-block;
}

.styleSelectorContainer{
/*     margin: 5px; */
    width: 200px;
    vertical-align:top;
    display: inline-block;
/*     float: right; */
}

.mySelect__control{
 height: 38px;
}
