
.tableRow{
    font-size: small;


}

.rwr{
    background: #aff;
    width: 100px;
}

.responseArea{
     background: #fff;
}

.versionPanel
{
    align: right;
    float: right;
    width: 30%;
}

.rwrPanel
{
    float: left;  
    width: 70%;
}

select.versionNames{
    background-color: #4CAF50;
}

.versionNames{
    max-height: 300px;

    overflow-y:scroll;
    overflow-x:scroll;
/*         background-color: #4CAF50; */
}

.vName{
    
    
}


.btn-smaller{
    margin: 1px;
    padding: 1px 4px;
    font-size: x-small;
  
}

.card-body{
    
}

.versionSelectItem{
    font-size: small;
    padding: 5px;
/*     margin: 2px; */
}
.versionSelectCard{
    height: 300px;
/*     margin: 2px; */
    overflow-y:scroll;
    
    
}
