.versionDisplaySelect{
    float:left;
    padding: 5px;

}

.tableRow{
    font-size: small;


}

.displayPanel{
    float: right;
}

.responseArea{
     background: #fff;
}

.versionPanel
{
    align: right;
    float: right;
    width: 30%;
}

.mainPanel
{
   /* float: left;  
    width: 70%;*/
}

select.versionNames{
    background-color: #4CAF50;
}

.versionNames{
    max-height: 300px;

    overflow-y:scroll;
    overflow-x:scroll;
/*         background-color: #4CAF50; */
}


.btn-smaller{
    margin: 1px;
    padding: 1px 4px;
    font-size: x-small;
  
}

.card-body{
    
}

.versionSelectItem{
    font-size: small;
    padding: 5px;

}

.versionSelectCard{
    height: 300px;
    overflow-y:scroll;
}

.nodeSelect{
    padding: 250px;
    &td{
        padding: 250px;
    }
}
