.rwr{
    background: #aff;
    width: 100px;
}

.responseArea{
     background: #fff;
}

.versionPanel
{
    align: right;
    float: right;
    width: 33%;
}

.rwrPanel
{
    float: left;  
    width: 67%;
}

select.versionNames{
    background-color: #4CAF50;
}

ul.versionNames{
    max-height: 200px;
    overflow-y:scroll;
/*         background-color: #4CAF50; */
}



.btn-smaller{
    margin: 1px;
    padding: 1px 4px;
    font-size: x-small;
}

.card-body{
    
}
