
/*Holds the square elements in a ribbon*/
.graphViewContainer{
    display: flex;
    overflow-x:scroll;
}

/*square number element display*/
.graphViewElementBase{
flex: 0 0 auto;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    height: 75px;
    width: 50px;
    margin: 5px;
}

.activeGraphViewElement{
}

.staleGraphViewElement{
}

.gveHeader{
    height: 15px;
}

.gveBody{
    
}
