
.collapsed{
    display:none;
}

.expanded{
     position: absolute;
/* position: relative; */
/*     width: 200px; */
    max-width: 40%;
/*     display:inline; */
/*     background-color:white; */
/*      height: 100vh ; */
/*      left: 0px; */
/*     float:right; */
    z-index: 9;
    max-height: 100%;
    overflow-y: auto;
/*     top:75px; */
}


.menuButton{
/*     height: 36px; */
    margin : 2px 5px;
    display: inline-block;
/*    margin: 5px;
    background-color: grey;
    border-color: black;*/
/*     height: 30px; */
    
}

.displayBlur{
/*    position: absolute;
    
    background-color: gray;
    opacity: 0.5;
    width: 100%;
    z-index: 8;
    height: 100vh;*/
}

.settingsButton{
    
}/*::before{
    width: 10px;
    height: 10px;
    content: url("/images/gear.svg");
}*/
