.nameText{
    display: inline;
    left:0;
/*      position:relative; */
    position:absolute;
    z-index: 1;
    height:100%;
/*     float:left; */
}

.renameHidden{
    
}

.renameInput{
    display: inline;
    left:0;
/*      position:relative; */
    position:absolute;
/*     float:left; */
    width: 100%;
    z-index: 2;
/*     height: 100%; */
}

.renameButton{
    display: inline;
/*     position:relative; */
/*     float:left; */
    height:100%;
    width: 10%;
    margin-right: 5px; 
}

.deckContainer{
/*     flex: 0 0; */
/*     background-color: red; */
    display: flex;
    overflow-x:scroll;
    
}

.cardC{
    margin: 10px;
    height: 300px;
    width: 225px;
    flex: 0 0 auto;
/*     display: inline-block; */
    border-radius : 0;
/*     float:left; */
/*     background-color: red; */
}

.card-bodyC{
    overflow-y:scroll;
}

.itemHead{
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
    border-bottom: lightgrey solid 1px;
    font-size: 14px;
     padding: 4px;
}

.itemC{
    border: none;
    font-size: small;
    padding: 3px;

} 

.cardBlank{
    /*   display:flex; */
}

.cardBlankAdd::before{
    content: "+";

    font-size:90px;
    
    justify-content:center;
    font-weight:bold;
    color:lightgray;
}


.cardBlankAdd{
    height:150px;

}
.cardBlankRemove::before{
   content: "-";
/*     height:200px; */
  font-size:90px;
/*   display:flex; */

  justify-content:center;
  font-weight:bold;

  color:lightgray;

}
.cardBlankRemove{
    height:150px;
}
