.titleBar{
    color: white;
    height:75px;
/*     margin: 20px; */
/*     text-align:center; */
/*     font-size: 36px; */
/*     border: solid grey 2px; */
/*     font-size: large; */
}

.displayPanel{
    position:fixed;
    height: calc(100vh - 75px);
    width: calc(100% - 200px);
    overflow-y:scroll;
    overflow-x:scroll;
     
}

/*.displayBlur{
    position:fixed;
    height: calc(100vh - 75px);
    width: calc(100% - 200px);
    background-color: gray;
}*/


.mainContent{
    position:fixed;
    top:75px;
/*     height:calc(100vh + 200px); */
/*     z-index: 5; */
/*     background-color: blue; */
}

.rightBar{
    position:fixed;
    overflow-y: scroll;
    width:200px;
    height: 100vh;
    right: 0px;
}

/*.logBar{
    position: fixed;
    left:200px;
    width: calc(100% - 400px);
    height: 200px;
    bottom: 0px;
    overflow-y: scroll;
}*/

.menuToggleButton{
    position:fixed;
    width:20px;
    left: 180px;
    height: 100vh;
}

.menuContainerOpen{
    position:fixed;
    overflow-y: scroll;
    padding:  20px;
    height: calc(100vh - 75px);
    width: 180px;
}

.menuContainerClosed{
    position:fixed;
    display: none;
    overflow-y: scroll;
    padding:  20px;
    height: calc(100vh - 75px);
    width: 180px;
}


.sideElement{
    border: none;
    text-align: left;
    background-color: transparent; 
    color: grey;
    padding : 4px; 
}

.sideElement:hover{
    color: black;
}

.sideElement:focus{
    color: rgb(36,36,36);
}

.sideElementHeading{
    background-color: transparent; 
    border: none;
    font-weight: bold;
    padding : 4px;
    padding-top: 15px;
}
    
    
    
