.titleBar{

    color: white;
    height:75px;
/*     margin: 20px; */
/*     text-align:center; */
/*     font-size: 36px; */
/*     border: solid grey 2px; */
/*     font-size: large; */
}

.displayPanel{
/*     float:left; */
/* display: inline-block; */
/*     min-width: 800px; */
    position:fixed;
    left:200px;
    height: calc(100vh - 275px);
    width: calc(100% - 400px);
    overflow-y:scroll;
    overflow-x:scroll;
/*     min-width: 600px; */
/*     overflow-x:scroll; */
    
}



.mainContent{
    position:relative;
    top:75px;
    
}

.rightBar{
    position:fixed;
    overflow-y: scroll;
    width:200px;
    height: 100vh;
    right: 0px;
}

.logBar{
    position: fixed;
    left:200px;
    width: calc(100% - 400px);
    height: 200px;
    bottom: 0px;
/*     background-color: red; */
    overflow-y: scroll;
}

.menuContainer{
    position:fixed;
/*   float:left; */
  overflow-y: scroll;
    padding:  20px;
/*     float:left; */
/*      background-color: light;  */
/*     border: solid 1px; */
    height: 100vh;
    width: 200px;

}


.sideElement{
    border: none;
    text-align: left;
    background-color: transparent; 
/*     font-size: small; */
    color: grey;
    padding : 4px; 
/*     32px; */
}

.sideElement:hover{
/*     background-color:red; */
    color: black;
}

.sideElement:focus{
    color: rgb(36,36,36);
}

.sideElementHeading{
    background-color: transparent; 
/*     font-size: small; */
    border: none;
    font-weight: bold;
/*     color: black; */
    padding : 4px;
    padding-top: 15px;
/*      32px; */
}
    
    
    
